.simple{
  text-align: center;
}

.simpleColumn{
  display: flex;
  flex-direction: column;
  list-style-type: none;
}

.simpleListEl{
  margin-bottom: 10px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
